<%# Landing page for new users %>
<% if !user_signed_in? %>
    <style> 
        body {
            background:
            linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url("/erra.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        
        h1 {
            color: white;
            font-weight: bold;
        }
        .container-index {
            margin-right: 15%;
            margin-left: 15%;
        }
        .text {
            color: white;
            font-weight: 300;
            font-size: 150%;
        }
        .index-btn {
            color: white;
            border: 2px solid white;
            border-radius: 25px;
            padding: 20px;
        }
        a {
            color: white;
        }
    </style>
    
    <div class="container-index">
        <h1> Welcome to AutomateMyLife </h1>
        <p class="text">
            The incentivising social network designed to subside the laziness within.
        </p>
    </div>
    <br><br>
    <div class="container-index">
        <center>
        <h1 class="index-btn"><a href="/users/sign_up">Sign Up</a></h1><br>
        <h1 class="index-btn"><a href="/users/sign_in">Sign In</a></h1>
        </center>
    </div>
    
<% else %>
    <%# If a user is signed in, set home as the index page %>
    <script>
        document.location = "/home"
    </script>

<% end %>