<div class="row">
    <div class="col-xs-12"> 
        <div class="jumbotron">
            BANNER
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>profile</p>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>my feed</p>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>actions</p>
            </div>
        </div>
    </div>
</div>

<!--row 2 -->

<div class="row">
    <div class="col-xs-3 col-xs-offset-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>level</p>
            </div>
        </div>
    </div>
