<div class="row">
    <div class="col-xs-12"> 
        <div class="jumbotron">
            BANNER
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>profile</p>
            </div>
        </div>
    </div>
    
    <div class="col-xs-6">
        <%= render '/components/posts_form' %>
        
        <% for @p in @posts %>
        <div class="panel panel-default">
            <div class="panel-body">
                <p><%= @p.content %></p>
            </div>
        </div>
        <% end %>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>actions</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>level</p>
            </div>
        </div>
    </div>
</div>


