<user>
    <name>
        <%= current_user.username %>
    </name>
    <email>
        <%= current_user.email %>
    </email>
    <posts>
        <% current_user.@posts do |p| %>
            <p>
                <%= @p.content %>
            </p>
        <% end %>
    </posts>
</user>

